# Build artifacts
/build/
/dist/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.vcxproj*
/*.sln

# OS files
Thumbs.db
.DS_Store

# Editor
.vscode/
*.code-workspace

# Documentation (generated)
/docs/doxygen/
